@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Body */
body {
  font-family: 'Aleo', serif;
}

/* Colors */
:root {
  /* --mainColor: #09913C; */
  --mainColor: #3f72af;
  --lightGreenColor: #112d4e;
  --lightGrey : #DBE2EF

  /* --lightGreenColor: rgb(9, 145, 60, 20%); */
}
.mainColor {
  color: var(--mainColor);
}
.lightGreenColor {
  color: var(--lightGreenColor);
}

/* Background Colors */
.lightGreenBackgroudColor {
  background-color: var(--lightGreenColor);
}
.lightGreyBg{
background-color: var(--lightGrey);
}

/* Buttons */
.btn-mainColor {
  background-color: var(--lightGrey);
  /* color: #fff; */
}
.btn-mainColor:hover {
  color:white;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  box-shadow: 0px 9px 8px -10px rgba(0, 0, 0, 0.75);
}



.dark-btn{
  color: white;
  background-color: var(--lightGreenColor);
  
}

.dark-btn:hover{
  color: var(--lightGreenColor) !important;
  background-color: transparent;
  border: 1px solid var(--lightGreenColor);
}


.btn-mainColor-nav {
  background-color: var(--lightGreenColor);
  color: #fff;
  border:1px solid  var(--lightGrey);
}
.btn-mainColor-nav:hover {
  color:var(--lightGreenColor) !important;
  /* color:indianred; */
  background-color: var(--lightGrey) !important;
  /* opacity: 80%; */
  /* border-color: var(--mainColor); */
  /* box-shadow: 0px 9px 8px -10px rgba(0, 0, 0, 0.75); */
}



/* Inputs */
input[type="search"]:focus {
  border-color: var(--mainColor);
  box-shadow: none !important;
}
.bg-main {
  background-color: var(--mainColor) !important;
}
.bg-main-light {
  background-color: var(--lightGreenColor) !important;
}

/* Form inputs */
.form-input {
 
  background-color: var(--lightGrey);
  transition: all 0.5s ease-in-out;
  /* box-shadow: 0px 9px 18px -10px rgba(0, 0, 0, 0.75); */
  border: none;
}

.form-input:focus {
  box-shadow: none;
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--lightGreenColor);
  /* background-color: var(--lightGreenColor); */
}








/* Animation */
.darkLayer{
  transition: all 0.5s;
  overflow: hidden;
}
.scale:hover{

  overflow: hidden;

}


.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: 1;
}



/* .markets{
  position: absolute;
opacity: 0;
  top: 0;
  bottom: 100%;
  right: 0;
  left: 0;
  background-color: #042244;
  transition: all ease-in-out;
  transition-duration: 0.5s;
}



.markets:hover{
  position: absolute;
  opacity: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000096;

} */