

  .itStyle:hover {
    transform: scale(1.5); /* Scale the element on hover */
  }
  /* .rtl {
    direction: rtl;
  }
  
  .rtl .d-flex {
    flex-direction: row-reverse;
  } */
  
  /* .container {
    direction: {i18n.language === 'ar' ? 'rtl' : 'ltr'};
    text-align: i18n.language === 'ar' ? 'right' : 'left';
  } */
  /* .rtl .me-5 {
    margin-left: unset !important;
    margin-right: 2rem !important;
  }
  
  .rtl .ms-5 {
    margin-right: unset !important;
    margin-left: 2rem !important;
  }

  .d-flex.flex-column {
    max-width: 1200px;
    margin: 0 auto;
  }
  .d-flex.flex-wrap.justify-content-evenly {
    flex-wrap: wrap;
  } */
  