.cont {
    position: relative;
  }
  
  .imagee {
    cursor: pointer;
  }
  
  .imgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .imgCont-content {
    max-width: 80%;
    max-height: 80%;
    display: block;
  }
  
  .closeImg {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  