.btn-Pay{
  background: #635BFF;
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  border-radius: 3px;

}

.btn-Pay:hover {
    filter: contrast(115%);
  }
  .btn-Pay:active {
    transform: translateY(0px) scale(0.98);
    filter: brightness(0.9);
  }
  .btn-Pay:disabled {
    opacity: 0.5;
    cursor: none;
  }

#payment-form {
    /* border: #F6F9FC solid 1px; */
    border-radius: 3px;
    /* padding: 20px;
    margin: 20px 0; */
    width: 100%;
    /* box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%); */
  }
  
#messages {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    display: none; /* hide initially, then show once the first message arrives */
    background-color: #0A253C;
    color: #00D924;
    padding: 20px;
    margin: 20px 0;
    border-radius: 3px;
    font-size:0.7em;
  }
