
@media screen and  (max-width:1199px){
    li a {
        font-size: 12px !important;
    }
    button {
        font-size: 12px !important;
    }
    .input-search{
        width: 200px !important;
        background-color: #fff !important
    }
input {
    width: 150px !important;
}

a img {
    width: 40px !important;
}
nav {
    display: flex !important;
    flex-direction: row !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}
}

 nav li a:hover{
    color: rgb(72, 182, 246) !important;
} 

